MASTER_ENABLED[1]=1
MASTER_NAME[1]="buildmaster {{ buildbot_project.name }}"
MASTER_USER[1]="buildbot"
MASTER_BASEDIR[1]="/var/lib/buildbot/masters/{{ buildbot_project.name }}"
MASTER_OPTIONS[1]=""
MASTER_PREFIXCMD[1]=""
